<section data-ng-controller="ListController">
    <!-- New Room Dialog -->
    <div id="new-room-dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="new-room-form" name="newRoomForm" ng-submit="createRoom()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">New Room</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="new-room-name">Room Name</label>
                            <span class="label label-danger" data-ng-show="submitted && room.description.$error.required">Required!</span>
                            <input type="text" id="new-room-name" name="name" placeholder="Room Name" ng-model="room.name" class="form-control" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="new-room-description">Description</label>
                            <textarea id="new-room-description" name="description" placeholder="Room Description" ng-model="room.description" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="new-room-deck">Deck</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <input class="btn btn-primary" type="submit" value="Create">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Room List -->
    <div class="panel panel-default">
        <div class="panel-heading clearfix">Rooms<a class="btn-sm btn-primary pull-right" data-toggle="modal" data-target="#new-room-dialog">New Room</a></div>
        <div class="panel-body" ng-hide="hasRooms">
            You don't have any rooms.
        </div>
        <ul class="list-group" ng-repeat="room in rooms">
            <li class="list-group-item clearfix">
                <div class="dropdown pull-left">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu-{{room._id}}" data-toggle="dropdown">
                        Options
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu-{{room._id}}">
                        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="deleteRoom(room)">Delete</a></li>
                        </ul>
                </div>
                {{room.name}}<span>{{room.description}}</span>
                <a class="btn-sm btn-default pull-right" href="#!/rooms/{{room._id}}">Enter Room</a>
            </li>
        </ul>
    </div>
</section>